---
import Layout from '../../layouts/Layout.astro';
import Heading1 from '../../components/Heading1.astro';
---

<Layout title="Apply">
  <section class="mx-auto">
    <Heading1>Apply</Heading1>
  </section>
</Layout>
