---
import Layout from '../../layouts/Layout.astro';
import Heading1 from '../../components/Heading1.astro';
export const prerender = true;
---

<Layout title="Thank You" redirectAfter={5}>
  <section class="mx-auto">
    <Heading1>Thank you</Heading1>
    <p class="text-pwv-black mt-4">
      We received your application and will be in touch soon.
    </p>
    <div class="mt-8 text-center">
      <a
        href="/"
        class="bg-pwv-black text-pwv-white inline-flex items-center gap-2 rounded-lg px-5 py-2 text-sm"
      >
        Back Home
        <svg
          class="h-4 w-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </section>
</Layout>
