---
import Layout from '../../layouts/Layout.astro';
import HowWeInvest from '../../components/HowWeInvest.astro';
import Team from '../../components/Team.astro';
import Heading1NoUnderline from '../../components/Heading1NoUnderline.astro';

export const prerender = true;
---

<Layout
  title="About"
  description="PWV is the fund we wanted as early-stage founders. We believe in founder-first values, and have a track record of backing category-defining companies from zero to breakout."
  enableUTMTracking={true}
  contentType="about"
>
  <section class="mx-auto space-y-4">
    <Heading1NoUnderline
      >PWV is the fund we wanted as early-stage founders.</Heading1NoUnderline
    >

    <p class="mt-4 text-lg">
      We believe in founder-first values, and have a track record of backing <a
        href="/portfolio"
        class="pwv-link-underline"
        >category-defining companies
      </a> from zero to breakout.
    </p>
  </section>

  <HowWeInvest />
  <Team />
</Layout>
