@import "tailwindcss";

@theme {
  --font-serif: 'IBM Plex Serif', serif;
  --font-sans: 'Space Grotesk Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --font-mono: 'Space Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --pwv-blue: #1B2B5B;
}
