@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-serif: 'Libre Franklin Variable', serif;
  --font-sans:
    'Libre Franklin Variable', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --font-mono:
    'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --pwv-blue: #1b2b5b;
}

/* Custom prose heading font sizes */
.prose h1 {
  font-size: 2rem; /* 36px, standard for h1 */
  line-height: 2rem; /* 40px */
  color: var(--pwv-blue);
}

.prose h2 {
  font-size: 1.25rem; /* 24px, standard for h2 */
  line-height: 1.75rem; /* 32px */
  color: var(--pwv-blue);
}

.prose h3 {
  font-size: 1rem; /* 20px, standard for h3 */
  line-height: 1.5rem; /* 28px */
  color: var(--pwv-blue);
}
