---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import { getAllLibraryPosts } from "../../lib/library";
import PostsGrid from "../../components/PostsGrid.astro";

const library = await getAllLibraryPosts();
---

<Layout>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="mb-12">
      <h1 class="text-4xl font-bold text-gray-900 mb-4">Library</h1>
      <p class="text-lg text-gray-600">Insights, thoughts, and perspectives from PWV</p>
    </div>

    <PostsGrid posts={library} size="large" />
  </div>
</Layout>
