---
import { getFeaturedPosts } from '../lib/news';
import PostsGrid from './PostsGrid.astro';

export interface Props {
  limit?: number;
}

const { limit = 3 } = Astro.props;
const featuredPosts = await getFeaturedPosts();
const postsToShow = limit ? featuredPosts.slice(0, limit) : featuredPosts;
---

{
  featuredPosts.length > 0 && (
    <section class="border-pwv-light-periwinkle mx-auto mb-12 border-b-1 pb-12">
      <div class="mb-8">
        <h2 class="mb-2 text-xl font-bold md:text-2xl">Featured Posts</h2>
      </div>
      <PostsGrid posts={postsToShow} size="large" isFeatured={true} />
    </section>
  )
}
