---
import Heading1 from './Heading1.astro';
import Heading2 from './Heading2.astro';
import Heading2NoUnderline from './Heading2NoUnderline.astro';
---

<section class="mx-auto px-4 sm:px-6 lg:px-8">
  <Heading1>PWV invests in early-stage technology companies</Heading1>

  <Heading2NoUnderline>
    PWV is Tom Preston&#8209;Werner, David&nbsp;Price, and David Thyresson.
  </Heading2NoUnderline>

  <p class="mb-4">
    We’re an early-stage investment team with deep technical fluency,
    founder-first values, and a track record of backing category-defining
    companies from zero to breakout.
  </p>

  <p>
    We’ve backed 80+ companies, including multiple early-stage bets that hit
    unicorn scale in under 24 months.
  </p>
</section>
