---
import Heading1NoUnderline from './Heading1NoUnderline.astro';
import Heading2NoUnderline from './Heading2NoUnderline.astro';
---

<section class="mx-auto">
  <Heading1NoUnderline
    >Early stage capital for technology founders
  </Heading1NoUnderline>

  <Heading2NoUnderline
    >Ideas start with founders. Founders start with PWV.</Heading2NoUnderline
  >
</section>
