---
import Heading1 from './Heading1.astro';
import Heading2 from './Heading2.astro';
import Heading2NoUnderline from './Heading2NoUnderline.astro';
---

<section class="mx-auto">
  <Heading1 underlineWidth="0px"
    >Early stage capital for technology founders
  </Heading1>

  <Heading2 underlineWidth="0px">Startups are hard. We make it easier.</Heading2
  >
</section>
