
<section class="space-y-4 text-lg font-sans">
  <h1 class="text-center text-3xl md:text-4xl lg:text-5xl font-black my-2 lg:py-8 font-serif text-[var(--pwv-blue)]">
    PWV invests in early&#8209;stage technology companies.
  </h1>

  <h2 class="text-2xl lg:text-2xl font-bold my-8 text-[var(--pwv-blue)] font-serif">
    PWV is Tom Preston&#8209;Werner, David&nbsp;Price, and David Thyresson.
  </h2>

  <p>
    We are three entrepreneurs and technologists committed to a vision of a
    future where technological progress and human flourishing go hand in hand.
    We invest to help make this future possible.
  </p>

  <p>
    Beyond capital, we leverage our unparalleled network and expertise to help
    startups scale and achieve product-market fit.
  </p>

  <h2 class="text-2xl lg:text-3xl font-bold my-8 text-[var(--pwv-blue)] font-serif">We invest from inception through Series A</h2>


  <ul class="pl-6 space-y-2">
    <li>
      <span class="font-serif font-bold">Early Stage</span> - We lead and co-lead.
    </li>
    <li>
      <span class="font-serif font-bold">Follow-on</span> - When applicable, we
      support growth with additional capital.
    </li>
  </ul>
</section>
