---
import Heading1 from './Heading1.astro';
import Heading2 from './Heading2.astro';
import Heading2NoUnderline from './Heading2NoUnderline.astro';
---

<section class="mx-auto px-4 sm:px-6 lg:px-8">
  <Heading1>Early stage capital for technology founders </Heading1>

  <Heading2NoUnderline
    >We commit to helping founders from seed to scale.</Heading2NoUnderline
  >
</section>
