---
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg';
---

<header id="about" class="flex flex-col items-center">
  <Image
    src={logo}
    alt="PWV Logo"
    class="w-logo-small sm:w-logo-medium md:w-logo-large"
    width={300}
    loading="eager"
    priority
  />
</header>
<section class="space-y-4 text-lg font-sans">
  <h1 class="text-center text-4xl lg:text-5xl font-bold my-8 font-serif text-[var(--pwv-blue)]">
    PWV invests in early&#8209;stage technology companies.
  </h1>

  <p class="font-semibold">
    PWV is Tom Preston&#8209;Werner, David&nbsp;Price, and David Thyresson.
  </p>

  <p>
    We are three entrepreneurs and technologists committed to a vision of a
    future where technological progress and human flourishing go hand in hand.
    We invest to help make this future possible.
  </p>

  <p>
    Beyond capital, we leverage our unparalleled network and expertise to help
    startups scale and achieve product-market fit.
  </p>

  <h2 class="text-2xl lg:text-3xl font-bold my-8 text-[var(--pwv-blue)] font-serif">How We Invest</h2>

  <p>We invest from Pre-seed through Series A.</p>

  <ul class="pl-6 space-y-2">
    <li>
      <span class="font-serif font-bold">Early Stage</span>: We lead and co-lead.
    </li>
    <li>
      <span class="font-serif font-bold">Follow-on</span>: When applicable, we
      support growth with additional capital.
    </li>
  </ul>
</section>
