---
import Heading1NoUnderline from './Heading1NoUnderline.astro';
import Heading2 from './Heading2.astro';
import Heading2NoUnderline from './Heading2NoUnderline.astro';
---

<section class="mx-auto">
  <Heading1NoUnderline
    >Early stage capital for technology founders
  </Heading1NoUnderline>

  <Heading2NoUnderline
    >Startups are hard. We make it easier.</Heading2NoUnderline
  >
</section>
