---
import Hero from './Hero.astro';
import Portfolio from './Portfolio.astro';
import Quote from './Quote.astro';
import Testimonials from './Testimonials.astro';
import RecentPosts from './RecentPosts.astro';
import TerminalCTA from './entities/TerminalCTA.astro';
---

<Hero />
<Portfolio />
<div class="mx-auto max-w-7xl p-0">
  <TerminalCTA />
</div>
<Quote />
<Testimonials />
<RecentPosts />
