---
import Hero from './Hero.astro';
import Portfolio from './Portfolio.astro';
import Testimonials from './Testimonials.astro';
import Footer from './Footer.astro';
---

<main class="mx-auto my-12 max-w-screen-lg px-4 sm:px-6 lg:px-8">
  <Hero />
  <Portfolio />
  <Testimonials />
</main>
<Footer />
