---
import Heading2 from './Heading2.astro';
import Heading3NoUnderline from './Heading3NoUnderline.astro';
---

<section
  class="bg-pwv-light-teal mx-auto mt-8 px-4 pt-0.5 pb-8 sm:px-6 lg:px-8"
>
  <Heading2>How We Invest</Heading2>

  <div class="mt-12 mb-4">
    <h3 class="mb-2 text-xl font-normal">Early Stage</h3>
    <p class="">From inception through Series A</p>
  </div>
  <div class="mb-4">
    <h3 class="mb-2 text-xl font-normal">Check Size</h3>
    <p class="">$500k to $3m+</p>
  </div>
  <div class="mb-4">
    <h3 class="mb-2 text-xl font-normal">Focus</h3>
    <p class="">
      Platforms, tools, and infrastructure that use code, models, and data to
      turn frontier science and engineering into near‑term products
    </p>
  </div>
</section>
