---
import Heading2 from './Heading2.astro';
import Heading3NoUnderline from './Heading3NoUnderline.astro';
---

<section class="mx-auto mt-8">
  <Heading2>How We Invest</Heading2>

  <div class="mt-12 grid grid-cols-1 gap-8 sm:grid-cols-3">
    <div class="mb-4">
      <h3 class="mb-2 text-xl font-normal">Early Stage</h3>
      <p class="">Pre-Seed through Series A</p>
    </div>
    <div class="mb-4">
      <h3 class="mb-2 text-xl font-normal">Check Size</h3>
      <p class="">$500k to $3m+</p>
    </div>
    <div class="mb-4">
      <h3 class="mb-2 text-xl font-normal">Focus</h3>
      <p class="">
        Platforms, tools, and infrastructure that use code, models, and data to
        turn frontier science and engineering into near‑term products.
      </p>
    </div>
  </div>
</section>
