---
import { getCollection } from 'astro:content';
import PortfolioSection from './PortfolioSection.astro';

const representativePortfolio = await getCollection('representativePortfolio');
const angelPortfolio = await getCollection('angelPortfolio');
---

<section id="portfolio" class="my-4">
  <PortfolioSection
    title="Investments"
    caption="(representative)"
    portfolio={representativePortfolio}
  />

  <PortfolioSection
    title="Tom's Angel Investments"
    caption="(representative, 2012–2022)"
    portfolio={angelPortfolio}
  />

  <p class="my-8 text-sm text-gray-500">
    These lists are non-exhaustive representations of the complete, separate
    investment portfolios of Tom Preston-Werner and PWV.
  </p>
</section>
