---
import { getCollection } from 'astro:content';
import PortfolioSection from './PortfolioSection.astro';

const representativePortfolio = await getCollection('representativePortfolio');
---

<section id="portfolio" class="mx-auto px-4 sm:px-6 lg:px-8">
  <PortfolioSection title="Investments" portfolio={representativePortfolio} />

  <p class="text-pwv-black my-8 text-sm">
    This list is a non-exhaustive representation of the complete, separate
    investments from PWV Fund I, the PWV Rolling Fund, and earlier investments
    by Tom Preston-Werner.
  </p>
</section>
