---
import { getCollection } from 'astro:content';
import PortfolioSection from './PortfolioSection.astro';

const representativePortfolio = await getCollection('representativePortfolio');
---

<section id="portfolio" class="mx-auto">
  <PortfolioSection
    title="Portfolio Highlights"
    showTitle={false}
    portfolio={representativePortfolio}
  />

  <p class="text-pwv-black my-8 text-sm leading-loose">
    PWV provides early stage capital for technology founders building the
    future. The above selected <a href="/portfolio/" class="pwv-link-underline"
      >portfolio</a
    > is a non-exhaustive representation of investment highlights from PWV Fund I,
    the PWV Rolling Fund, and earlier investments by Tom Preston-Werner.
  </p>
</section>
