---
import { getCollection } from 'astro:content';
import PortfolioSection from './PortfolioSection.astro';

const representativePortfolio = await getCollection('representativePortfolio');
---

<section id="portfolio" class="my-4">
  <PortfolioSection
    title="Portfolio"
    caption="(representative)"
    portfolio={representativePortfolio}
  />

  <p class="text-subtle my-8 text-sm">
    This list is a non-exhaustive representation of the complete, separate
    investments from PWV Fund I, the PWV Rolling Fund, and earlier investments
    by Tom Preston-Werner.
  </p>
</section>
