---
import LibraryCard from './LibraryCard.astro';

export interface Props {
  posts: any[];
  size?: 'large' | 'small';
}

const { posts, size = 'large' } = Astro.props;
---

<!-- Basic Grid Layout -->
<div
  id="posts-container"
  class="mx-auto grid grid-cols-1 items-stretch gap-6 md:grid-cols-2 lg:grid-cols-3"
>
  {
    posts.map((post) => (
      <div
        data-post-type={post.data.url ? 'external' : 'non-external'}
        class="flex"
      >
        <LibraryCard post={post} size={size} />
      </div>
    ))
  }
</div>
