---
import { Image as UnpicImage } from '@unpic/astro';
import Heading2 from './Heading2.astro';
---

<section id="quote" class="mx-auto my-8 pt-4">
  <Heading2>Message from Tom Preston-Werner</Heading2>
  <div
    class="bg-pwv-light-yellow flex flex-col gap-8 rounded-lg p-8 lg:flex-row lg:items-center lg:gap-12"
  >
    <!-- Quote Content -->
    <div class="flex-1">
      <blockquote class="text-pwv-black text-lg leading-relaxed lg:text-xl">
        <p class="mb-6">
          "We created PWV with the same focus and commitment that scaled GitHub
          to a $7.5B exit.
        </p>
        <p>
          We back founders and companies who solve real challenges and are
          shaping the future of technology."
        </p>
      </blockquote>
      <div class="mt-6">
        <cite class="font-mono text-lg font-semibold not-italic">
          Tom Preston-Werner
        </cite>
        <p class="mt-2 text-sm">General Partner, GitHub Cofounder</p>
      </div>
    </div>

    <!-- Image -->
    <div class="flex flex-1 items-center justify-center">
      <UnpicImage
        src="/images/tom-preston-werner.jpg"
        alt="Tom Preston-Werner"
        width={300}
        height={300}
        class="rounded- w-full object-cover shadow-2xl"
      />
    </div>
  </div>
</section>
