---
import Layout from '../../layouts/Layout.astro';
import Heading1 from '../../components/Heading1.astro';
import Heading2NoUnderline from '../../components/Heading2NoUnderline.astro';
---

<Layout title="Portfolio">
  <section class="mx-auto">
    <Heading1>Portfolio</Heading1>
    <Heading2NoUnderline
      >Backing founders from seed to scale.</Heading2NoUnderline
    >
  </section>
</Layout>
